/*!
 * Grid CSS
 */

.grid {
    margin: 2em 0;
}
.flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.col-card-4, .col-card-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1.5em;
}
.col-card-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    min-width: 33.33333%;
}
.col-card-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    min-width: 25%;
}
.card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    -webkit-align-items: stretch;
    align-items: stretch;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px #ddd;
}
.card a {
    display: block;
    width: 100%;
}
.card a:hover {
    text-decoration: none;
    box-shadow: 0 4px 7px #ccc;
}
.card h3 {
    margin: .5em 0;
}
.card a:hover .entry-content h3 {
    text-decoration: underline;
}
.card .entry-content {
    display: block;
    width: 100%;
    padding: 1em;
}
.card .entry-image {
    display: block;
    width: 100%;
    min-height: 185px;
    background: #ddd center center;
    background-size: cover;
}
.card .entry-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    min-height: 98px;
    background-color: #597a87;
}
.card .entry-header h3 {
    color: #fff;
    margin: 0;
}
.card p {
    color: #444;
}
.card .content-type {
    color: #8b8b8b;
    font-size: .9em;
}
@media (max-width: 768px) {
    .col-card-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-card-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 480px) {
    .flex-row {
        display: block;
    }
    .col-card-3, .col-card-4 {
        display: block;
        float: left;
        max-width: 100%;
        width: 100%;
    }
}
