/*!
 * Styles for wifi prototype 1
 */
.prototype-index article {
    margin: 1.6em 0;
    padding: 1em;
}


.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.entry-content a {
    cursor: pointer;
}

.overflow {
    position: relative;
    height: 300px;
    padding: .2em 1em;
    line-height: 25px;
    border: 4px solid #eee;
    overflow: scroll;
    margin-bottom: 1.5em;
}

.overflow:focus {
    outline: 3px solid #ebab00;
}

.form-row {
    max-width: 92%;
    margin: 0 auto;
    margin-bottom: 1.5em !important;
}

.form-row label {
    cursor: pointer;
}

header {
    padding: 1.5em;
}

legend {
    display: none;
}

.body_spacing {
    padding-top: 1.5em;
}
#connect {
    width: 25%;
}

#connect[disabled], #connect[disabled]:hover {
    opacity: 0.6;
    background-color: #acacac;
    color: #fff;
}

.submit {
    margin-top: 2em;
}

/*.form-row {*/
    /*margin: 0 auto;*/
/*}*/

.form-row label {
    width: auto;
}

.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
}