/*
 * Styles for Public Wifi Login
 */
/*
* === VARIABLES ===
*/
/*
* === FONTS ===
*/
@font-face {
  font-family: bitter-local;
  src: url("../fonts/Bitter-Regular.otf") format("opentype"); }
@font-face {
  font-family: bitter-italic-local;
  src: url("../fonts/Bitter-Italic.otf") format("opentype"); }
@font-face {
  font-family: open-sans-local;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
h1, h2, h3, h4 {
  font-family: bitter-local, arial, sans-serif; }

p, label, form button[type="submit"] {
  font-family: "open-sans-local", arial, sans-serif; }

/*
* === MAJOR SECTION BODY ===
*/
.entry-content a {
  cursor: pointer; }

.overflow {
  position: relative;
  height: 300px;
  padding: .2em 1em;
  line-height: 25px;
  border: 4px solid #eee;
  overflow: scroll;
  margin-bottom: 1.5em; }

.overflow:focus {
  outline: 3px solid #ebab00; }

.form-row label {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  margin-right: 0;
  font-weight: 400;
  margin-bottom: 5px; }
.form-row .optional {
  color: #6f777b; }

legend {
  display: none; }

.body_spacing {
  padding-top: 1.5em; }

#connect {
  width: 25%; }

#connect[disabled], #connect[disabled]:hover {
  opacity: 0.6;
  background-color: #acacac;
  color: #fff; }

.submit {
  margin-top: 2em; }

.form-row label {
  width: auto; }

.checkbox {
  position: relative;
  display: block;
  margin-top: 10px; }

.form-row .form-error {
  color: #000;
  width: 65%;
  padding: 5px;
  background: #FFF8D0;
  display: block; }

.field-error {
  outline: 3px solid #EBAB2C;
  outline-offset: -2px; }

/*
* === MEDIA QUERIES ===
*/
@media (max-width: 1024px) {
  .form-row .form-error {
    display: block;
    width: 65%; }

  #accept-error, #connect {
    margin-left: 1em; }

  #connect {
    padding: 0.3em .5em; }

  .form-row input[name="email"] {
    width: 100%; } }
@media (max-width: 768px) {
  .form-row input[name="email"] {
    width: 100%; }

  #connect {
    width: 100%; }

  .center-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none; } }
.newsletter-checkbox input {
  margin-right: .5em;
  position: absolute; }
.newsletter-checkbox label {
  width: auto;
  margin: 0 1.5em;
  display: inline-block; }

.has-errors input {
  outline: 2px solid #ebab00;
  outline-offset: -2px; }
.has-errors .help-block {
  color: #000;
  max-width: 420px;
  display: block;
  padding: 3px;
  background: #FFF8D0; }

.form-row input[name="email"], .form-error {
  width: 65%; }

button[type="submit"] {
  background-color: #008484;
  color: #fff;
  padding: .3em .5em;
  border: 0;
  height: 40px;
  margin: 0; }

button[type="submit"]:hover, button[type="submit"]:focus {
  background-color: #FCE45C;
  color: #000;
  text-decoration: underline; }

button[type="submit"]:focus {
  outline: 3px solid #ebab00; }

input[name="email"] {
  border: 1px solid #ccc;
  padding: 2px;
  height: 34px;
  text-indent: 5px;
  min-width: 220px; }

input[type="checkbox"] {
  height: 1em;
  width: 1em;
  margin-top: .3em; }

label[for="newsletter"] {
  color: #6f777b; }

.fieldError {
  outline: 5px red dotted; }

/*
* === NO JS STYLING ===
*/
.no-js .form-error {
  display: none; }

/*
* === VUE JS STUFF ===
*/
[v-cloak] {
  display: none; }

article .entry-header {
  background: url("../img/dot-grey.png"); }

article .entry-header:after {
  background: url("../img/heading-flourish.png") no-repeat bottom left; }

.form-row label {
  display: inline-block;
  width: 100%; }

fieldset {
  border: 1px solid #eee;
  padding: 1.5em; }

/*# sourceMappingURL=tnaWifi.css.map */
